.spotlight{
  background-image: radial-gradient(circle at 55.7813% 56.6563%, transparent 160px, rgba(0, 0, 0, 0.50) 200px)
}


header {
  position: relative;
  height: 100vh;
}

.parallax-bg-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .parallax-bg {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
}

.parallax-bg {
  // background: rgb(38,40,159);
  // background: linear-gradient(0deg, rgba(38,40,159,1) 0%, rgba(1,17,63,1) 100%);
  .banner-bg {
    position: absolute;
    width: 100%;
    &.banner-bg-1 {
      background: url("/imgs/vr-header-bg.jpg") no-repeat;
      background-size: cover;
      background-position: 50%;
      height: 100%;
      // z-index: -2;
    }

    &.banner-bg-2 {
      background: url("/imgs/vr-girl.png") no-repeat;
      right: inherit;
      top: 0;
      bottom: 0;
      width: 130%;
      position: absolute;
      background-size: 35%;
      height: auto;
      background-position: bottom;
      z-index: 1;
    }
  }
}

.banner-area {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 998;
  .banner-text {
    color: white;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-family: "JostBold";
      margin-bottom: 1.5rem;
      line-height: 4.5rem;
    }
    p {
      font-family: "JostBook";
      font-size: 1.5rem;
      margin-bottom: 2rem;
      .cta-link {
        font-family: "JostSemiBold";
        background: #fff;
        color: #000;
        border-radius: 100px;
        font-size: 1.125rem;
        padding: 0.5rem 2rem;
        margin-bottom: 0;
        &:hover {
          background: $purple2;
          color: white;
        }
      }
    }
  }
}

.spotlight {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle at var(—x, 50%) var(—y, 50%), hsl(334, 80%, 80%) 20%, rgba(0, 0, 0, 0.96) 30%);
  mix-blend-mode: var(—blend, multiply);
}

.cta2 {
  .cta-link {
    background: $purple1;
    color: white;
    font-size: 1.125rem;
    padding: 0.5rem 2rem;
    border-radius: 100px;
    &:hover{
      background: darken($color: $purple1, $amount: 5%);
    }
  }
}

section {
  &.abt-us,
  &.reviews   {
    background: black;
    color: white;
  }
}

#aboutus .sec-text {  
    width: 70% !important;  
    overflow: hidden;
}

.vr-bg {
  position: relative;
  height: 88vh;
  .parallax-bg {
    .banner-bg {
      &.sec-bg-1 {
        background: url("/imgs/vr-bg2.jpg") no-repeat;
        background-size: cover;
        background-position: 50%;
        height: 100%;
        bottom: 0;
      }
      &.sec-bg-1a {
        background: url("/imgs/vr-bg2a.png") no-repeat;
        background-size: contain;
        background-position: 50%;
        height: 100%;
        bottom: 0;
      }
      &.sec-bg-1b {
        background: url("/imgs/vr-bg2b.png") no-repeat;
        background-size: contain;
        background-position: 50%;
        height: 100%;
        bottom: 0;
      }
      &.sec-bg-1c {
        background: url("/imgs/vr-bg2c.png") no-repeat;
        background-size: contain;
        background-position: 50%;
        height: 100%;
        bottom: -10rem;
      }
      &.sec-bg-1d {
        background: url("/imgs/vr-bg2d.png") no-repeat;
        background-size: contain;
        background-position: 50%;
        height: 100%;
        bottom: 0;
        // z-index: -1;
      }

      &.sec-bg-2 {
        background: url("/imgs/vr-girl2.png") no-repeat;
        right: 5%;
        top: 0;
        bottom: -20rem;
        width: 100%;
        position: absolute;
        background-size: 50%;
        height: auto;
        background-position: bottom;
        z-index: 1;
      }
      &.sec-bg-3 {
        background: url("/imgs/vr-bg3.jpg") no-repeat;
        background-size: cover;
        background-position: 50%;
        height: 100%;
      }
      &.sec-bg-4 {
        background: url("/imgs/vr-couple.png") no-repeat;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        position: absolute;
        background-size: contain;
        height: auto;
        background-position: bottom;
        margin-top: 8%;
      }
    }
  }
}

.img.vr-glass {
  position: relative;
  background: $purple2;
  height: 1000px;
  top: -7rem;
  z-index: 2;
  &.vr-g1,
  &.vr-g2 {
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      // width: 90%;
    }
  }
  &.vr-g1 {
    img {
      left: -6rem;
    }
  }
  &.vr-g2 {
    overflow: hidden;
    img {
      right: -6rem;
    }
  }
}

.sec-text {
  width: 100%;
  h2 {
    margin-bottom: 2rem;
    width: 60%;
    line-height: 3rem;
  }
  .sec-name {
    color: $purple2;
  }
  p.p-txt {
    line-height: 2.5rem;
  }
}

.sec-text {
  .st-2 {
    width: 100%;
  }
}

.vr-img {
  position: relative;
  height: 700px;
  z-index: -1;
  
  &.vr-img1 {    
    &:before {
      content: "";
      position: absolute;
      background: url(/imgs/vr-girl3.png) no-repeat;
      background-position: right bottom;
      background-size:cover;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
  }
  &.vr-img2 {
    &:before{
      content: "";
      position: absolute;
      background: url(/imgs/vr-man.png) no-repeat;      
      background-position: left bottom;
      background-size: cover;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
    }    
  }
}

.vrcafe-sec {
  padding-top: 3rem;
  .sec-text {
    h2,.p-txt{
      padding-left: 35%;
    }    
  }
  &.vc-s2 {
    .sec-text.st-2 {
      h2,.p-txt{
        padding-left: 0;
      } 
    }
  }
}

.vrcafe-sec,
.abt-us,
.reviews,
.vr-exp {
  .row {
    margin: 0;
    div {
      padding: 0;
    }
  }
}

.vrcafe-sec{
  &.vc-s2{
    overflow: hidden;
  }
}

.vrcafe-sec.vc-s2{
  &.vr-exp-sec{
   overflow: inherit !important;
  }
}



.vr-exp {
  background: #000;
  height: 1400px;

  h2 {
    color: white;
    margin-bottom: 4rem;
    text-align: center;
  }
}

.testi-col {
  h2 {
    padding: 0 16%;
  }
}

.contact-form {
  margin-top: 5rem;
  padding: 0 15%;
  form {
    .form-group {
      .form-control {
        font-family: "JostMedium";
        border-radius: 0;
        border: none;
        background: #fafafa;
        padding: 0.5rem;
        height: 56px;
      }
      select {
        height: calc(2.25rem + 18px) !important;
        padding: 0.5rem !important;
      }
      textarea {
        height: inherit !important;
      }
    }
  }
}

footer {
  background: #000;
  .footer-links {
    margin: 2rem 0;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: row;            
      padding:0;
      li {
        a {
          color: white;
          padding: 0 1rem;
          border-left: 1px solid white;
          font-family: "JostBook";
          font-size: 1.25rem;
          &:hover {
            color: $purple2 !important;
          }
        }
        &:first-child {
          a {
            border-left: none;
          }
        }
      }
    }
  }
  p {
    font-family: "JostBook";
    font-size: 1.25rem;
  }
}
